
.container-user{
    margin-top: 5px;
}

.formuser{
    /*border-radius: 25px;*/
    background-color: whitesmoke;
    border: 2px solid orange;
    padding: 20px;
}

.image{
    height: 220px;
}

.h5{
    color: black;
}

.p{
    color: black;
}

.form-group{
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}

.btna{
    text-align: center;
}

.buttonb{
    width: 120px;
    margin: 10px;
}
